@media screen and (min-width: 768px) and (max-width: 1024px) and (max-height: 1025px) {

  .navbar-tablet-footer {
    position: relative;
    bottom: 1%;
    border: 1px solid black;
    width: 98%;
  }

  .navbar-footer {
    position: relative;
  }


}
